@model TaxiSluzba.Models.Korisnik

<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style>
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            /* Style the buttons that are used to open the tab content */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: #ccc;
                }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
            function openCity(evt, cityName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
    </script>
</head>
    <body>
        <h2>Musterija</h2>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'NaruciVoznju')">Naruci voznju</button>
            <button class="tablinks" onclick="openCity(event, 'Profil')">Profil</button>
            <button class="tablinks" onclick="openCity(event, 'Izmena')">Izmena</button>
            <button class="tablinks" onclick="openCity(event, 'SpisakVoznji')">Spisak voznji</button>
        </div>
        <div id="Profil" class="tabcontent">
            <table>
                <tr>
                    <td>Korisnicko ime:</td>
                    <td>@Model.KorisnickoIme</td>
                </tr>
                <tr>
                    <td>Lozinka: </td>
                    <td>@Model.Lozinka</td>
                </tr>
                <tr>
                    <td>Ime: </td>
                    <td>@Model.Ime</td>
                </tr>
                <tr>
                    <td>Prezime: </td>
                    <td>@Model.Prezime</td>
                </tr>
                <tr>
                    <td>Pol: </td>
                    <td>@Model.Pol.ToString()</td>
                </tr>
                <tr>
                    <td>JMBG: </td>
                    <td>@Model.Jmbg</td>
                </tr>
                <tr>
                    <td>Kontakt telefon: </td>
                    <td>@Model.KontaktTelefon</td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>@Model.Email</td>
                </tr>
            </table>
        </div>

        <div id="Izmena" class="tabcontent">
            <form action="/User/IzmenaPodataka" method="post">
                <table>
                    <tr>
                        <td>Korisnicko ime:</td>
                        <td><input type="text" name="user" readonly value=@Model.KorisnickoIme></td>
                    </tr>
                    <tr>
                        <td>Lozinka: </td>
                        <td><input type="text" name="pass" value=@Model.Lozinka></td>
                    </tr>
                    <tr>
                        <td>Ime: </td>
                        <td><input type="text" name="ime" value=@Model.Ime></td>
                    </tr>
                    <tr>
                        <td>Prezime: </td>
                        <td><input type="text" name="prezime" value=@Model.Prezime></td>
                    </tr>
                    <tr>
                        <td>Pol: </td>
                        <td align="left">
                            <select name="pol" value=@Model.Pol>
                                <option value="MUSKI">Muski</option>
                                <option value="ZENSKI">Zenski</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>JMBG: </td>
                        <td><input type="text" name="jmbg" value=@Model.Jmbg></td>
                    </tr>
                    <tr>
                        <td>Kontakt telefon: </td>
                        <td><input type="text" name="telefon" value=@Model.KontaktTelefon></td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td><input type="text" name="email" value=@Model.Email></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" value="Izmeni" onclick="alert('Podaci su izmenjeni!')"></td>
                    </tr>
                </table>
            </form>
        </div>
        <form action="/User/LogOut">
            <input type="submit" value="Odjavi se">
        </form>
     </body>
</html>

