@model TaxiSluzba.Models.Vozac

@{
    ViewBag.Title = "Vozac";
}

<html>
    <head>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <style>
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: lightgray;
            }

                /* Style the buttons that are used to open the tab content */
                .tab button {
                    background-color: inherit;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 14px 16px;
                    transition: 0.3s;
                }

                    /* Change background color of buttons on hover */
                    .tab button:hover {
                        background-color: lightblue;
                    }

                    /* Create an active/current tablink class */
                    .tab button.active {
                        background-color: lightsalmon;
                    }

            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
                background-color:lightsalmon;
            }
        </style>
        <script>
            function openCity(evt, cityName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>
    </head>

     <body>
         <h2>Vozac</h2>
         <div class="tab">
             <button class="tablinks" onclick="openCity(event, 'PristiglaVoznjaOdDispecera')">Pristigla voznja</button>
             <button class="tablinks" onclick="openCity(event, 'LokacijaTaksiste')">Promeni lokaciju</button>
             <button class="tablinks" onclick="openCity(event, 'PreuzmiVoznju')">Preuzmi voznju</button>
             <button class="tablinks" onclick="openCity(event, 'SpisakVoznji')">Spisak voznji</button>
         </div>

         <div id="PristiglaVoznjaOdDispecera" class="tabcontent">
             <form action="/User/PocniSaVoznjom" method="post">
                 @{ foreach (TaxiSluzba.Models.Voznja voz in TaxiSluzba.Models.DataBase.vozaci[Model.KorisnickoIme].voznje)
                     {
                         if (voz.Status == TaxiSluzba.Models.StatusVoznje.OBRADJENA || voz.Status == TaxiSluzba.Models.StatusVoznje.FORMIRANA)
                         {
                             <table border="1">
                                 <tr>
                                     <td><b>Musterija</b></td>
                                     <td><b>Dispecer</b></td>
                                     <td><b>Datum i vreme</b></td>
                                     <td><b>Adresa</b></td>
                                 </tr>
                                 @{
                                     foreach (TaxiSluzba.Models.Voznja v in TaxiSluzba.Models.DataBase.vozaci[Model.KorisnickoIme].voznje)
                                     {
                                         if (v.Status == TaxiSluzba.Models.StatusVoznje.OBRADJENA || v.Status == TaxiSluzba.Models.StatusVoznje.FORMIRANA)
                                         {
                                             <tr>
                                                 <td align="center">@v.Musterija.KorisnickoIme</td>
                                                 <td align="center">@v.dispecer.KorisnickoIme</td>
                                                 <td>@v.DatumIvremePorudz.ToString()</td>
                                                 <td>@v.DolaznaLokacija.Adress.Ulica @v.DolaznaLokacija.Adress.Broj, @v.DolaznaLokacija.Adress.Grad <input type="hidden" name="datumVoznje" value="@v.DatumIvremePorudz.ToString()"><input type="hidden" name="korisnickoImeVozaca" value="@Model.KorisnickoIme"></td>
                                             </tr>
                                         }
                                     }
                                 }
                             </table>
                             <input type="submit" value="Odvezi voznju">
                         }
                      }
                 }
             </form><hr>
         </div>

         <div id="LokacijaTaksiste" class="tabcontent">
             <form action="/User/PromeniLokacijuTaksiste" method="post">
                 <table>
                     <tr>
                         <td>Ulica:</td>
                         <td><input type="text" name="ulica"></td>
                     </tr>
                     <tr>
                         <td>Broj:</td>
                         <td><input type="text" name="broj"></td>
                     </tr>
                     <tr>
                         <td>Grad:</td>
                         <td><input type="text" name="grad"></td>
                     </tr>
                     <tr>
                         <td>Postanski broj:</td>
                         <td><input type="text" name="postBroj"></td>
                     </tr>
                     <tr>
                         <td colspan="2" align="center">
                            <input type="submit" value="Potvrdi" onclick="alert('Lokacija uspesno promenjena!')">
                         </td>
                     </tr>
                     @{
                         if (Model.Lokacija.Adress.Grad != "" && Model.Lokacija.Adress.Ulica != "" && Model.Lokacija.Adress.Broj != "" && Model.Lokacija.Adress.PostanskiBroj != "")
                         {
                             <tr>
                                 <td>Trenutna lokacija:</td>
                                 <td><b>@Model.Lokacija.Adress.Ulica @Model.Lokacija.Adress.Broj  @Model.Lokacija.Adress.Grad</b></td>
                             </tr>
                         }
                         
                     }
                 </table>
                 <input type="hidden" name="korisnickoImeVozaca" value="@Model.KorisnickoIme">
             </form><hr>
         </div>

         <div id="PreuzmiVoznju" class="tabcontent">
             <form action="/User/PreuzmiVoznju" method="post">
                 <select name="voznja">
                     @{
                         foreach (TaxiSluzba.Models.Voznja v in TaxiSluzba.Models.DataBase.sveVoznje.Values)
                         {
                             if (v.TipAuta.ToString() == Model.Auto.tipAutomobila.ToString())
                             {
                                 if (v.Status == TaxiSluzba.Models.StatusVoznje.KREIRANA_NA_CEKANJU)
                                 {
                                     <option value="@v.DatumIvremePorudz.ToString()">@v.DolaznaLokacija.Adress.Ulica @v.DolaznaLokacija.Adress.Broj, @v.DolaznaLokacija.Adress.Grad, @v.DolaznaLokacija.Adress.PostanskiBroj - @v.TipAuta.ToString() </option>
                                 }
                             }
                         }
                     }
                 </select>
                 <input type="submit" value="Preuzmi">
                 <input type="hidden" name="korisnickoImeVozaca" value="@Model.KorisnickoIme">
             </form><hr>         
         </div>

         <div id="SpisakVoznji" class="tabcontent">
             <h4>Sve voznje na kojima ste/bili angazovani</h4>
             <table border="1">
                 <tr>
                     <td><b>Musterija</b></td>
                     <td><b>Datum i vreme</b></td>
                     <td><b>Dispecer</b></td>
                     <td><b>Status voznje</b></td>
                 </tr>
                 @foreach (TaxiSluzba.Models.Voznja v in TaxiSluzba.Models.DataBase.vozaci[Model.KorisnickoIme].voznje)
                 {
                     <tr>
                         <td align="center">@v.Musterija.KorisnickoIme</td>
                         <td>@v.DatumIvremePorudz.ToString()</td>
                         <td align="center">@v.dispecer.KorisnickoIme</td>
                         <td>@v.Status.ToString()</td>
                         <td>
                            <form action="/User/DetaljiVoznje" method="post">
                                <input type="submit" value="Detalji">
                                <input type="hidden" name="vozac" value="@v.vozac.KorisnickoIme">
                                <input type="hidden" name="datumVoznje" value="@v.DatumIvremePorudz.ToString()">
                            </form>
                         </td>
                     </tr>
                 }
             </table><br/>

             <form action="/User/Filtriranje" method="post">
                 <table>
                     <tr>
                         <td>Filtriraj:</td>
                         <td>
                             <select name="statusVoznje">
                                 <option value="KREIRANA_NA_CEKANJU">Kreirana, na cekanju</option>
                                 <option value="FORMIRANA">Formirana</option>
                                 <option value="OBRADJENA">Obradjena</option>
                                 <option value="PRIHVACENA">Prihvacena</option>
                                 <option value="U_TOKU">U toku</option>
                                 <option value="OTKAZANA">Otkazana</option>
                                 <option value="NEUSPESNA">Neuspesna</option>
                                 <option value="USPESNA">Uspesna</option>
                             </select>
                         </td>
                         <td><input type="submit" value="Filtriraj"></td>
                     </tr>
                 </table>
                 <input type="hidden" name="korisnickoImeVozac" value="@Model.KorisnickoIme">
             </form>

             <form action="/User/Sortiranje" method="post">
                 <table>
                     <tr>
                         <td>Sortiraj po:</td>
                         <td>
                             <select name="sortirajPo">
                                 <option value="datumu">Datumu</option>
                                 <option value="oceni">Oceni</option>
                             </select>
                         </td>
                         <td><input type="submit" value="Sortiraj"></td>
                     </tr>
                 </table>
                 <input type="hidden" name="korisnickoImeVozac" value="@Model.KorisnickoIme">
             </form>
             <br/>

             <form action="/User/PretragaVozac" method="post">
                 <table>
                     <tr>
                         <td>Pretraga po datumu:</td>
                         <td><input type="text" name="datumOd"></td>
                         <td><input type="text" name="datumDo"></td>
                     </tr>
                     <tr>
                         <td>Pretraga po oceni:</td>
                         <td>
                             <select name="ocenaOd">
                                 <option value="NULA"></option>
                                 <option value="JEDAN">1</option>
                                 <option value="DVA">2</option>
                                 <option value="TRI">3</option>
                                 <option value="CETIRI">4</option>
                                 <option value="PET">5</option>
                             </select>
                         </td>
                         <td>
                             <select name="ocenaDo">
                                 <option value="NULA"></option>
                                 <option value="JEDAN">1</option>
                                 <option value="DVA">2</option>
                                 <option value="TRI">3</option>
                                 <option value="CETIRI">4</option>
                                 <option value="PET">5</option>
                             </select>
                         </td>
                     </tr>
                     <tr>
                         <td>Pretraga po ceni:</td>
                         <td><input type="text" name="cenaOd"></td>
                         <td><input type="text" name="cenaDo"></td>
                     </tr>
                     <tr>
                         <td colspan="3" align="center"><input type="submit" value="Pretraga"></td>
                     </tr>
                 </table>
                 <input type="hidden" name="korisnickoIme" value="@Model.KorisnickoIme">
             </form><hr>           
         </div>
         <form action="/User/LogOut">
             <input type="submit" value="Odjavi se">
         </form>
    </body>
</html>

